body {
  background-color: #d8d8e0e0;
  font-family: sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgStatus img{
  width: 100%;
  border-radius: 8px;
}

form label {
  margin-top: 4px;
}

form {
  height: 96vh;
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(66, 58, 58);
}

form input {
  margin: 5px;
  width: 50%;
  font-size: 1.4em;
  line-height: calc(1.4);
  border-radius: 8px;
  border: none;
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

button {
  margin: 9px ;
  width: 51%;
  font-size: 1.5em;
  border-radius: 8px;
  cursor: pointer;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

 .bestOptions {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background: aqua ;
  height: auto;
  width: 50%;
 }

 .bestOptions h2 {
  margin: 0;
 }




