* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;
  --black: #000;

  --dark-900: #101026;
  --dark-700: #1D1D2E;

  --gray-100: #8A8A8A;
  --green-900: #3fffa3;
  --red-900: #FF3F4B;
}

body {
  background-color: var(--dark-900);
  font-family: sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--red-900);
  font-size: 3em;
  margin-top: -1px;
}

h5 {
  font-size: 1.3em;
  margin-top: 20px;
}

h5,
label {
  color: var(--white);
}

.imgStatus img {
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}

.imgStatus:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake { 
  0%{transform: translate(1px, 1px) rotate(0deg);}
  10%{transform: translate(-1px, -2px) rotate(-1deg);}
  20%{transform: translate(-2px, 0px) rotate(1deg);}
  30%{transform: translate(2px, 2px) rotate(0deg);}
  40%{transform: translate(1px, -1px) rotate(1deg);}
  50%{transform: translate(-1px, 2px) rotate(-1deg);}
  60%{transform: translate(-2px, 1px) rotate(0deg);}
  70%{transform: translate(2px, 1px) rotate(-1deg);}
  80%{transform: translate(-1px, -1px) rotate(1deg);}
  90%{transform: translate(1px, 2px) rotate(0deg);}
  100%{transform: translate(1px, -2px) rotate(-1deg);}
}

form label {
  margin-top: 10px;
}

form {
  margin: 18px;
  height: 94vh;
  width: 700px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--dark-700);
}

form input {
  margin-top: 5px;
  width: 50%;
  font-size: 1.4em;
  line-height: calc(1.4);
  border-radius: 8px;
  border: none;
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

button {
  margin: 18px;
  width: 100%;
  height: 40px;
  font-size: 1.2em;
  border-radius: 8px;
  border: 1px;
  cursor: pointer;
  font-weight: 540;
}

button:hover {
  background-color: #FF3F4B;
  color: #ecdddd;
  font-weight: 300;
}

button:active {
  background-color: #ecdddd;
  color: #000;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.bestOptions {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
  margin-top: 8px;
  width: 50%;
  height: auto;
  background-color: #FFF;
  color: var(--dark-900);
  font-weight: 300;
  cursor: pointer;
}

.bestOptions:hover {
  background-color: #FF3F4B;
  color: var(--white);
  font-weight: 100;
}

.bestOptions h4 {
  margin-bottom: 0;
  font-size: 1.2em;
}

.bestOptions span {
  font-size: 1.4em;
}

@media screen and (max-width:700px) {

  .buttons,
  button {
    margin-top: 5px;
    margin-bottom: 3px;
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  }

  .bestOptions span {
    font-size: 1em;
  }

  .bestOptions h4 {
    font-size: 1.1em;
  }
}
